@model IEnumerable<CommonNet4.DTO.Employee>

@{
    ViewBag.Title = "AllEmployees";
}

<h2>AllEmployees</h2>

<style>
    .hidden_element {
        display: none;
    }

    .pointerlike {
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col-sm-6">
        <table class="table table-striped" id="tbl_employee">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>City</th>
                    <th>Orders</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.EmployeeID
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.City
                        </td>
                        <td>
                            <div class="pointerlike">View</div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <p>List of Orders ( pag <span id="pagenumber">2</span> of <span id="oftotalpages">10</span>)</p>
        <ul id="lst_orders"></ul>
        <div>
            <button id="btn_left" type="button" disabled class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-chevron-left"></span> Left
            </button>
            <button id="btn_right" type="button" disabled class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-chevron-right"></span> Right
            </button>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('th:first').addClass('hidden_element');
        $('tr td:first-child').addClass('hidden_element');

        var currentPage = 1;
        var recordsCount = 0;
        var size = 10;

        $('.pointerlike').click(function () {
            var $tr = $(this).closest('tr');
            var employeeid = $tr.find('td').first().text().trim();

            var server_url = 'http://localhost:17570/';

            $.ajax({
                cache: false,
                type: 'GET',
                url: server_url + 'api/orderscount?EmployeeID=' + employeeid
            }).done(function (count) {
                recordsCount = count;
                if (recordsCount == 0) {
                    alert('No orders for this employee');
                }
                else {                
                    //call page number 1
                    var params = '?EmployeeID=' + employeeid + '&page=' + currentPage + '&size=' + size;
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: server_url + 'api/orders' + params
                    }).done(function (orders) {
                        $('#lst_orders').empty();
                        $.each(orders, function (i, order) {
                            $('#lst_orders').append(
                                '<li>' +
                                order.ShipName +
                                ' ' +
                                order.ShipAddress +
                                ' ' +
                                order.ShipCity +
                                '</li>');
                        }); // end foreach

                        if (recordsCount > size * currentPage)
                            $('#btn_right').prop('disabled', '');
                        $('#pagenumber').text(1);
                        $('#oftotalpages').text(Math.ceil(recordsCount / size));
                    });// end count ajax done
                }; // end else

                $('#btn_left').click(function () {
                    var params = '?EmployeeID=' + employeeid + '&page=' + (currentPage - 1) + '&size=' + size;
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: server_url + 'api/orders' + params
                    }).done(function (orders) {
                        $('#lst_orders').empty();
                        $.each(orders, function (i, order) {
                            $('#lst_orders').append(
                                '<li>' +
                                order.ShipName +
                                ' ' +
                                order.ShipAddress +
                                ' ' +
                                order.ShipCity +
                                '</li>');
                        }); // end foreach
                        currentPage--;
                        $('#pagenumber').text(currentPage);
                        $('#btn_right').prop('disabled', '');

                        if (currentPage == 1)
                            $('#btn_left').prop('disabled', 'disabled');
                    });

                });//end button left click

                $('#btn_right').click(function () {

                    var params = '?EmployeeID=' + employeeid + '&page=' + (currentPage + 1) + '&size=' + size;
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: server_url + 'api/orders' + params
                    }).done(function (orders) {
                        $('#lst_orders').empty();
                        $.each(orders, function (i, order) {
                            $('#lst_orders').append(
                                '<li>' +
                                order.ShipName +
                                ' ' +
                                order.ShipAddress +
                                ' ' +
                                order.ShipCity +
                                '</li>');
                        }); // end foreach
                        currentPage++;
                        $('#pagenumber').text(currentPage);
                        if (currentPage * size >= recordsCount)
                            $('#btn_right').prop('disabled', 'disabled');
                        if (currentPage > 1)
                            $('#btn_left').prop('disabled', '');
                    });
                });// end btn_right click

                
            });// end done

             //$.ajax({
            //    cache: false,
            //    type: "GET",
            //    url: server_url + 'api/orders?EmployeeID=' + employeeid,
            //}).done(function (orders) {
            //    $('#lst_orders').empty();

            //    $.each(orders, function (i, order) {
            //        $('#lst_orders').append(
            //            '<li>' +
            //            order.ShipName +
            //            ' ' +
            //            order.ShipAddress +
            //            ' ' +
            //            order.ShipCity +
            //            '</li>');

            //    });
            //});// end done



        });// end click handler
    });//end ajax


</script>