@model IEnumerable<CommonNet4.DTO.Employee>

@{
    ViewBag.Title = "AllEmployees";
}

<h2>AllEmployees</h2>

<style>
    .hidden_element {
        display: none;
    }
</style>

<div class="row">
    <div class="col-sm-6">
        <table class="table table-striped" id="tbl_employee">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>City</th>
                    <th>Orders</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.EmployeeID
                        </td>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.City
                        </td>
                        <td>
                            <a href="/NorthwindCed/EmployeeDetails/@item.EmployeeID">View</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <p>List of Orders</p>
        <ul id="lst_orders"></ul>
    </div>
</div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('th:first').addClass('hidden_element');
        $('tr td:first-child').addClass('hidden_element');

    });


</script>